name: Deploy tag docs
on:
  push:
    branches:
      - master
    tags:
      - "v*"
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.0.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages # The branch the action should deploy to.
          folder: docs # The folder the action should deploy.
          target-folder: docs/${{ github.WHATEVER.tag }} # the folder in gh-pages that will be created/cleaned
          clean: true # Automatically remove deleted files from the deploy branch
